<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h2>Patientenanamnese</h2>
      <form (ngSubmit)="generateQuestions(patientText.value)">
        <div class="form-group">
          <label for="patientText">Patiententext:</label>
          <textarea
            class="form-control"
            id="patientText"
            #patientText
            rows="5"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Fragen generieren</button>
      </form>
    </div>
  </div>
</div>
